.site-header{
    background: #3c1361;
    padding: 17px 5%;
    font-size: 25px;
    color: #FFF;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.site-header h1{
    margin: 0;
}
.main-nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    
}
.main-nav ul li{
    font-size: 22px;
    display:inline;
    ;
}
.main-nav ul li a{
    text-decoration: none;
    color: #FFF;
}
.main-nav ul li a:hover{
    color: #999999;
}


        